<ul class="topnav">

    <li>
        <a href="{{ routes.home }}">Početna</a>
    </li>

    <li>
        <a href="{{ routes.detailing }}">Detailing</a>
    </li>

    <li>
        <a href="{{ routes.kemijsko }}">Kemijsko čišćenje</a>
    </li>

    <li>
        <a href="{{ routes.cjenik }}">Cjenik</a>
    </li>

    <li>
        <a href="{{ routes.gallery }}">Galerija radova</a>
    </li>

    <li>
        <a href="{{ routes.about }}">O nama</a>
    </li>
</ul>